/** 

NOT ALL THIS IS MY CODE

Nav bar and the <li> and <ul> css code
came from w3schools. 

Others came from other sites that i forgot about.
The only thing thats mine is the body css.

The search css came from Hypersite-v2. Check
that site out on replit.

Thank you to those code i copied!

-dachxd


**/

html, body {
  height: auto;
  width: 100%;
  background-size: 100%; 
  
}
body {
  background-image: url('/backgroundanimation.gif');
  background-attachment:fixed;

  
}
#myInput {
  background-image: url('/css/searchicon.png');
  background-position: 10px 12px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
  color:white;
  background-color:black;
}
a{
  background-color:black;
}
#myUL {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
li{
  background-color:black;
  color:white;
}
#myUL li a {
  border: 1px solid #ddd;
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  color: white;
  background-color:black;
  display: block
}

#myUL li a:hover:not(.header) {
  background-color: #eee;
}
input{
  margin:auto;
  width: 400px;
  height: 60px;
  background: #0f0f0f;
  border-radius: 5px;
  margin:auto;
  border: 2px white solid;
  width: 300px;
  height: 57px;
  border-radius: 5px;
  background: transparent;
  border: none;
  color: white;
  font-size: 18px;
  outline: none;
  margin-left:10px;
}
.block {
      display: block;
      width: 50%;
      border: none;
      background-color: #111;
      color: white;
      padding: 14px 28px;
      font-size: 24px;
      cursor: pointer;
      text-align: center;
    }
h1{
  color: white;
}
h2{
  color: red;
}
p1{
  color:grey;
  Background-color:Black;
  font-family: "Times New Roman", Times, serif;
}
}
p{
  color:grey;
  Background-color:Black;
}



.block {
    display: block;
    width: 50%;
    border: none;
    background-color: #000000;
    color: white;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    }

 .search {
     width: 300px;
     height: 57px;
     border-radius: 5px;
     background: transparent;
     border: none;
     color: white;
     font-size: 18px;
     outline: none;
     margin-left:10px;
     
     
   }


 
  ::placeholder {
    color: white;
    font-size: 18px;
    border: none;
    
    
  }

.submit-button {
    background: transparent;
    border: none;
    width: 55px;
    height: 60px;
    color: white;
  margin-left:5px;
}

.searchbox{
  width: 400px;
  height: 60px;
  background: #0f0f0f;
  border-radius: 5px;
  margin:auto;
  border: 2px white solid;
 
  
}

body {margin:0;}
.navbar {
  overflow: hidden;
  background-color: #000000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
.navbar a {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}
.navbar a:hover {
  background: #ddd;
  color: black;
}
.main {
  padding: 16px;
  margin-top: 30px;
  height: 1500px; 
}



body {margin:0;}
.navbar1 {
  overflow: hidden;
  background-color: #000000;
  position: fixed;
  top: 0;
  left: 0;
  width: 10%;
}
.navbar1 a {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 30px;
}
.navbar1 a:hover {
  background: #ddd;
  color: black;
}
.main {
  padding: 16px;
  margin-top: 30px;
  height: 1500px; 
}
