html, body {
  height: auto;
  width: 100%;
  background-size: 400%; 
  
}
body {
  background-image: url('https://storage.gra.cloud.ovh.net/v1/AUTH_728ab22ba0c842468a897907be9a7075/flipanim/anim/nynbsjv5.gif')
  
}

input{
  margin:auto;
  width: 400px;
  height: 60px;
  background: #0f0f0f;
  border-radius: 5px;
  margin:auto;
  border: 2px white solid;
  width: 300px;
  height: 57px;
  border-radius: 5px;
  background: transparent;
  border: none;
  color: white;
  font-size: 18px;
  outline: none;
  margin-left:10px;
}
.block {
      display: block;
      width: 50%;
      border: none;
      background-color: #111;
      color: white;
      padding: 14px 28px;
      font-size: 24px;
      cursor: pointer;
      text-align: center;
    }
h1{
  color: white;
}
h2{
  color: red;
}
p1{
  color:grey;
  Background-color:Black;
  font-family: "Times New Roman", Times, serif;
}
}
p{
  color:grey;
  Background-color:Black;
}

<!-- HTML !-->
<button class="button-9" role="button">Button 9</button>

.block {
    display: block;
    width: 50%;
    border: none;
    background-color: #000000;
    color: white;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    }

 .search {
     width: 300px;
     height: 57px;
     border-radius: 5px;
     background: transparent;
     border: none;
     color: white;
     font-size: 18px;
     outline: none;
     margin-left:10px;
     
     
   }


 
  ::placeholder {
    color: white;
    font-size: 18px;
    border: none;
    
    
  }

.submit-button {
    background: transparent;
    border: none;
    width: 55px;
    height: 60px;
    color: white;
  margin-left:5px;
}

.searchbox{
  width: 400px;
  height: 60px;
  background: #0f0f0f;
  border-radius: 5px;
  margin:auto;
  border: 2px white solid;
 
  
}

body {margin:0;}
.navbar {
  overflow: hidden;
  background-color: #000000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
.navbar a {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}
.navbar a:hover {
  background: #ddd;
  color: black;
}
.main {
  padding: 16px;
  margin-top: 30px;
  height: 1500px; 
}



body {margin:0;}
.navbar1 {
  overflow: hidden;
  background-color: #000000;
  position: fixed;
  top: 0;
  left: 0;
  width: 10%;
}
.navbar1 a {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 30px;
}
.navbar1 a:hover {
  background: #ddd;
  color: black;
}
.main {
  padding: 16px;
  margin-top: 30px;
  height: 1500px; 
}
