@media (prefers-color-scheme: dark) {
body[appearance="default"] {
--light-text: white;
--dark-text: black;
--highlight: #2493ff;
--bg-main: #121212;
--placeholder: #666666;
--border: #5f6368;
--font-main: Roboto;
--font-title: Quicksand;
}
}

@media (prefers-color-scheme: light) {
body[appearance="default"] {
--light-text: black;
--dark-text: white;
--highlight: #2493ff;
--bg-main: white;
--placeholder: #666666;
--border: #5f6368;
--font-main: Roboto;
--font-title: Quicksand;
}
}

body[appearance="dark"] {
--light-text: white;
--dark-text: black;
--highlight: #2493ff;
--bg-main: #121212;
--placeholder: #666666;
--border: #5f6368;
--font-main: Roboto;
--font-title: Quicksand;
}

body[appearance="light"] {
--light-text: black;
--dark-text: white;
--highlight: #2493ff;
--bg-main: white;
--placeholder: #666666;
--border: #5f6368;
--font-main: Roboto;
--font-title: Quicksand;
}

body[appearance="lime"] {
--light-text: white;
--dark-text: black;
--highlight: lime;
--bg-main: #181c19;
--placeholder: #666666;
--border: #5f6368;
--font-main: Roboto;
--font-title: Quicksand;
}

body[appearance="space"] {
--light-text: white;
--dark-text: black;
--highlight: #7f00ff;
--bg-main: black;
--placeholder: #666666;
--border: #5f6368;
--font-main: Roboto;
--font-title: Quicksand;
}

body[appearance="molten"] {
--light-text: white;
--dark-text: black;
--highlight: #ff6868;
--bg-main: black;
--placeholder: #666666;
--border: #5f6368;
--font-main: Roboto;
--font-title: Quicksand;
}

body[appearance="eagle"] {
--light-text: white;
--dark-text: black;
--highlight: #4d004d;
--bg-main: linear-gradient(to top right, #2ac5f7, #b128ff);
--bg-secondary: linear-gradient(to right, #665fd2, #9824d3);
--placeholder: lightgray;
--border: white;
--font-main: Roboto;
--font-title: Quicksand;
background-attachment: fixed;
}

body[appearance="eagle"] .navbar {
background: var(--bg-secondary);
}

body[appearance="eagle"] #suggestions {
background: var(--bg-secondary);
}

body[appearance="retro"] {
--light-text: white;
--dark-text: white;
--highlight: #009600;
--bg-main: black;
--placeholder: #666666;
--border: #5f6368;
--font-main: Ubuntu Mono;
--font-title: Ubuntu Mono;
}

body[appearance="retro"] #suggestions {
height: 240px;
}

body[appearance="retro"] .searchicon {
top: 375px;
}

body[appearance="forest"] {
--light-text: white;
--dark-text: black;
--highlight: #004953;
--bg-main: #191919;
--placeholder: #666666;
--border: #004953;
--font-main: Raleway;
--font-title: Raleway;
}

body[appearance="midnight"] {
--light-text: white;
--dark-text: black;
--highlight: #4B0082;
--bg-main: #150025;
--placeholder: #666666;
--border: #5f6368;
--font-main: Roboto;
--font-title: Quicksand;
}

body[appearance="lava"] {
--light-text: white;
--dark-text: black;
--highlight: #ff001f;
--bg-main: #1d0003;
--placeholder: #666666;
--border: #5f6368;
--font-main: Roboto;
--font-title: Montserrat;
}