body {
  background: #2d2f27;
  /* background: #ccc url(../assets/pattern.png) repeat; */
  margin: 0;
  overflow: hidden;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

#orientation {
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../assets/orientation.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgb(0, 0, 0);
  z-index: 999;
  display: none;
}

/* #banner {
  margin: 0 auto;
  position: absolute;
  bottom: 0;
  display: block;
  left: 50%;
  transform: translateX(-50%);
} */

#banner {
  margin: 0 auto;
  position: fixed;
  top: 0;
  display: block;
  left: 50%;
  transform: translateX(-50%);
}